.themeButton {
  outline: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  margin: 15px;
  transform: rotate(30deg);
  transition: ease-in-out 0.3s;
}

.themeButtonDark {
  border-bottom: 15px solid orange;
}

.themeButtonLight {
  border-bottom: 48px solid orange;
  background-color: orange;
}
