@keyframes cursor {
  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 360px;
  }
}

@keyframes slideIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 300px;
  }
}
@keyframes slideOut {
  from {
    max-height: 300px;
  }
  to {
    max-height: 0;
  }
}

@media only screen and (max-width: 1025px) {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 290px;
    }
  }
}

@media only screen and (max-width: 500px) {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 252px;
    }
  }
}
