@media only screen and (max-width: 500px) {
  nav .menuToggleBtn div {
    width: 32px;
  }
  header svg {
    height: 50px;
    width: 50px;
  }
  header code {
    font-size: 28px;
  }
  header p {
    font-size: 40px;
  }
  .tabs section {
    margin: 15px 10px 50px 10px;
  }
  article.project {
    width: 75vw;
  }
  menu.collapse img {
    height: 25px;
    width: 25px;
  }
  menu.collapse span {
    font-size: 20px;
  }

  .darkMode menu.slider {
    background-color: rgb(30, 30, 30, 0.9);
  }
  .lightMode menu.slider {
    background-color: rgb(200, 200, 200, 0.9);
  }
}
