@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Montserrat&family=Poppins&display=swap");
/* 
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif; 
*/
:root {
  --transition: ease-in-out 0.2s;
}

* {
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
a {
  transition: var(--transition);
  color: var(--primaryText);
}
body {
  transition: var(--transition);
  font-family: "Montserrat", sans-serif;
  background-color: var(--primaryBg);
  color: var(--primaryText);
}
/* .darkMode {
  background-image: url(/assets/img/darkBackground.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
button {
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

header,
nav,
header code,
menu a,
noscript {
  display: flex;
  align-items: center;
}
nav {
  justify-content: space-between;
  width: 100%;
}
nav .themeToggleBtn {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: transparent;
  transform: rotate(30deg);
  transition: var(--transition);
}
.lightMode nav .themeToggleBtn {
  border-bottom: 35px solid orange;
  background-color: orange;
}
.darkMode nav .themeToggleBtn {
  border-bottom: 10px solid orange;
}
nav .menuToggleBtn {
  background-color: transparent;
  height: 35px;
}
nav .menuToggleBtn div {
  width: 36px;
  height: 3px;
  margin: 5px 0;
  transition: var(--transition);
  background-color: var(--primaryText);
}
nav .openMenuBtn {
  z-index: 10;
}
nav .openMenuBtn div {
  margin: 0;
  width: 32px;
  /* background-color: var(--tertiaryText); */
}
nav .openMenuBtn div:first-child {
  transform: rotate(45deg) translate(-3px, 5px);
}
nav .openMenuBtn div:nth-child(2) {
  display: none;
}
nav .openMenuBtn div:last-child {
  transform: rotate(-45deg) translate(-3px, -5px);
}
header {
  flex-direction: column;
  text-align: center;
  padding: 5px 20px;
}
header code {
  justify-content: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}
header code span {
  color: tomato;
}
header code h2 {
  overflow: hidden;
  width: fit-content;
  white-space: nowrap;
  animation: typing 1.5s steps(10);
}
header code svg,
header code p {
  color: var(--secondaryText);
}
header code p {
  font-size: 50px;
  padding-left: 10px;
  font-weight: bolder;
  animation: cursor 0.4s ease-out infinite alternate none;
}
header figure img {
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
  margin: 20px 0;
}
header figcaption p {
  font-weight: 600;
  font-size: 2.1vh;
  line-height: 36px;
  word-spacing: 2px;
  letter-spacing: 0.8px;
}
header figcaption span {
  color: dodgerblue;
}
.tabs {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.tabs section {
  display: flex;
  overflow-x: auto;
  margin: 15px 30px 80px 30px;
  overflow-y: hidden;
}
.tabs section.closedtab {
  animation: slideOut 0.5s;
  max-height: 0;
}
.tabs section.openTab {
  animation: slideIn 0.5s;
  max-height: fit-content;
}
menu.collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 10px;
  background: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.darkMode menu.collapse {
  border-bottom: 1px solid #282828;
}
.lightMode menu.collapse {
  border-bottom: 1px solid #d7d7d7;
}
menu.collapse img {
  margin-right: 10px;
}
menu.collapse span {
  display: flex;
  align-items: center;
  color: tomato;
  font-size: 25px;
  font-weight: 600;
}
menu.collapse svg {
  color: var(--primaryText);
  transition: var(--transition);
}
article.project {
  transition: var(--transition);
  width: 25vw;
  height: fit-content;
  padding: 20px 15px;
  margin: 0 10px;
  border-radius: 10px;
}
.darkMode article.project {
  border: 2px solid #282828;
  color: darkgray;
}
.lightMode article.project {
  border: 2px solid rgb(215, 215, 215);
  color: rgb(100, 100, 100);
}
article.project h2 {
  font-size: 2.5vh;
  color: var(--primaryText);
  transition: var(--transition);
}
article.project button {
  background-color: transparent;
  color: dodgerblue;
  font-weight: bold;
  font-size: 14px;
}
article.project p {
  font-size: 1.7vh;
  margin: 20px 0;
}
article.project .head,
article.project .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article.project .foot span {
  border-radius: 500px;
  background-color: #1e90ff33;
  color: #1e90ff;
  border: 0.5px solid #1e90ff;
  font-size: 12px;
  padding: 2px 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
article.project .foot span.status {
  background-color: #ff634733;
  color: #ff6347;
  border: 0.5px solid #ff6347;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px 0 40px 0;
}
footer section {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 40px 0;
}
footer section img {
  height: 36px;
}
footer p {
  display: flex;
  align-items: center;
}
footer p span {
  color: tomato;
  font-size: 25px;
  font-weight: 900;
}

menu.slider {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  /* transition: var(--transition); */
  padding-top: 100px;
  padding-left: 0;
  transition: ease-in-out 0.2s;
  width: 0;
  overflow: hidden;
  font-weight: bold;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.darkMode menu.slider {
  background-color: rgb(30, 30, 30, 0.7);
}
.lightMode menu.slider {
  background-color: rgb(200, 200, 200, 0.7);
}
menu.slider a {
  padding: 20px 50px;
  width: fit-content;
  white-space: nowrap;
}
menu.slider a svg {
  margin-right: 20px;
}
menu.slider p {
  height: 50px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
menu.slider p span {
  font-weight: bolder;
  padding: 2px 5px;
  border-radius: 5px;
  /* transition: var(--transition); */
}
menu.slider p span.html {
  /* background-color: #e6642d; */
  border: 2px solid #e45127;
}
menu.slider p span.css {
  /* background-color: #51abdd; */
  border: 2px solid #2d74b8;
}
menu.slider p span.js {
  /* background-color: #f2bf26; */
  border: 2px solid #e7a328;
}

noscript {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: black;
}
noscript details {
  height: 30vh;
}
noscript summary {
  text-align: center;
  font-size: 30px;
}
noscript summary code,
noscript summary::marker,
noscript ul li::marker {
  color: tomato;
}
noscript ul {
  padding-top: 20px;
}
noscript ul li {
  font-size: 18px;
}
noscript ul kbd {
  font-size: 16px;
  color: dodgerblue;
}
