@media only screen and (max-width: 1025px) {
  nav .menuToggleBtn div {
    width: 32px;
  }
  header svg {
    height: 60px;
    width: 60px;
  }
  header code {
    font-size: 32px;
  }
  header p {
    font-size: 45px;
  }
}
