.header {
    background-color: rgb(10, 10, 10);
}
.name {
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.name i {
    display: flex;
    font-size: 6vw;
    padding: 3vh;
    margin-left: 5vw;
    color: rgb(75, 75, 75);
}
.name b {
    font-size: 5vw;
    padding: 3vh;
    color: white;
    font-family: 'Source Code Pro', monospace;
}


.tab-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh;
    overflow-x: hidden;
}
.Card {
    color: gray;
    background-color: rgb(40, 40, 40);
    height: fit-content;
    width: 32vw;
    padding: 3vh 2vw;
    border-radius: 2vh;
    font-family: 'Poppins', sans-serif;
    margin-left: 5vh;
}
.Card h2 {
    color: tomato;
    font-size: 3vh;
    line-height: 0.1vh;
    font-family: 'Nunito', sans-serif;
}
.Card h4 {
    color: rgb(100, 100, 100);
    font-size: 1.6vh;
    font-weight: 100;
}
.Card p {
    font-family: 'Nunito', sans-serif;
    font-size: 2.2vh;
    margin-left: 1vw;
}
.Card a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 2.2vh;
}
.Card a:hover {
    font-weight: 900;
}
.card-lang img {
    width: 1.5vw;
    height: auto;
    margin-left: 1vw;
}
.card-nav {
    display: flex;
}
.card-nav-left {
    margin-right: auto;
}
.card-nav-right {
    margin-left: auto;
    order: 2;
}


/* Long Screen */
@media only screen and (max-width: 600px) {
    .name i {
        font-size: 15vw;
        padding: 3vh;
        color: rgb(75, 75, 75);
    }
    .name b {
        font-size: 12vw;
        padding: 3vh;
        color: white;
        font-family: 'Source Code Pro', monospace;
    }
    .tab-section {
        display: contents;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .Card {
        color: gray;
        background-color: rgb(40, 40, 40);
        height: fit-content;
        width: 75vw;
        padding: 3vh 2vw;
        border-radius: 2vh;
        font-family: 'Poppins', sans-serif;
        margin-left: 5vh;
    }
    .Card h2 {
        color: tomato;
        font-size: 2.5vh;
        line-height: 0.1vh;
        font-family: 'Nunito', sans-serif;
    }
    .Card h4 {
        color: rgb(100, 100, 100);
        font-size: 1.2vh;
        font-weight: 100;
    }
    .Card p {
        font-family: 'Nunito', sans-serif;
        font-size: 1.8vh;
        margin-left: 1vw;
    }
    .Card a {
        text-decoration: none;
        color: dodgerblue;
        font-size: 1.8vh;
    }
    .card-lang img {
        width: 4vw;
        height: auto;
        margin-left: 1vw;
    }
}