.Footer a {
  padding: 4vw;
  font-size: 3vh;
}
/* Long Screen */
@media only screen and (max-width: 600px) {
  .Footer a {
    padding: 6vw;
    font-size: 1.8vh;
  }
}

.fa-envelope {
  color: rgb(212, 70, 56);
  position: fixed;
}
.fa-envelope:hover {
  color: rgb(212, 70, 56);
  position: fixed;
}
.fa-envelope:active {
  color: rgb(212, 70, 56);
  position: fixed;
}

.fa-github {
  color: rgb(60, 60, 60);
  position: fixed;
}
.fa-github:hover {
  color: rgb(60, 60, 60);
  position: fixed;
}
.fa-github:active {
  color: rgb(60, 60, 60);
  position: fixed;
}

.fa-linkedin {
  color: #0e76a8;
  position: fixed;
}
.fa-linkedin:hover {
  color: #0e76a8;
  position: fixed;
}
.fa-linkedin:active {
  color: #0e76a8;
  position: fixed;
}

.fa-twitter {
  color: #00acee;
  position: fixed;
}
.fa-twitter:hover {
  color: #00acee;
  position: fixed;
}
.fa-twitter:active {
  color: #00acee;
  position: fixed;
}

.fa-instagram {
  color: #dd2a7b;
  position: fixed;
}
.fa-instagram:hover {
  color: #dd2a7b;
  position: fixed;
}
.fa-instagram:active {
  color: #dd2a7b;
  position: fixed;
}

.fa-telegram {
  color: rgb(0, 136, 204);
  position: fixed;
}
.fa-telegram:hover {
  color: rgb(0, 136, 204);
  position: fixed;
}
.fa-telegram:active {
  color: rgb(0, 136, 204);
  position: fixed;
}
